<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TinyURL</title>
</head>


<body style="font-size:20px; padding:50px;">
  <div class="bg-light">
  <h1><strong>TinyAPP</strong></h1>
  <a class="btn btn-success" href="/login">Login</a>
  <a class="btn btn-success" href="/Register">Register</a>
</div>
    
  
  <br>
  <br>



    

    
</body>
</html>