<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TinyURL</title>
  <h1><strong>TinyAPP</strong></h1>
</head>


<body style="font-size:20px; padding:50px;">
    <Div>
      
      <% if (username){ %>
        <form method="POST" action="/logout">
          <!-- <h3>Please login!</h3> -->
          <h3>Currently login as: <strong><%=username%></strong></h3>
          <button type="submit" value="Logout!" class ="btn btn-success" >Logout!</button>
        </form>
        <% } else { %>
          <form method="POST" action="/login">
            <input name="username" type="text" placeholder="Please enter your ID"></input> 
            <input name="password" type="password" placeholder="Please enter your Password"></input> 
            <button type="submit" value="Login!" class ="btn btn-success" >Login</button>
          </form>
          <% } %>
          
        </Div>



    

    
</body>
</html>