<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
        <% include ./partials/_header.ejs %>
        <h4>Currently Log in as: <%=email%> </h4>


            <form method="POST" action="/logout">
            <input type="submit" class ="btn btn-success" value="Logout">
            <a class="btn btn-success" href="/urls/new">New URL</a>
            </form>

            <br>
            <br>
            <ol>
                <% for(let url in urls) { %>
                    <li><%= url + ": " + urls[url].longURL %></li>
                    <input name="longURL" type="text"></input>
                <form method="POST" action="/urls/<%= url %>">
                    <button type="submit" value="Edit" class ="btn btn-success">Edit</button>
                </form>

                <form method="POST" action="/urls/<%= url %>/delete">
                    <input type="submit" value="Delete" class ="btn btn-success" >
                </form>

                    <% } %>
                </ol>





</body>
</html>


