<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>New URL - TinyApp Example</title>

</head>
  <body style="font-size:20px; padding:50px;">
      <% include ./partials/_header.ejs %>
    <div>
       <h2>Welcome to the resgistration page!!!</h2>
    </div>
    <form method="POST" action="/register">
        Email:
        <input type="email" name="email" placeholder="ID"><br>
        
        Password: 
        <input type="password" name="password" placeholder="*******"><br>
        <input type="submit" class ="btn btn-success" value="Submit">
    </form>

    
  
        
  
  </body>
</html>
