<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>New URL - TinyApp Example</title>

</head>
  <body style="font-size:20px; padding:50px;">
    <div>
       <h2>Welcome to the resgistration page!!!</h2>
    </div>
    <form action="/resgistration">
        First name: <input type="text" name="FirstName" value="FirstName"><br>
        Last name: <input type="text" name="LastName" value="LastName"><br>
        Email Address <input type="text" name="EmailAddress" value="@example.com"><br>
        Password: <input type="password" name="Password" value="*******"><br>
        <input type="submit" class ="btn btn-success" value="Submit">
    </form>
    
    <div class="w3-bar w3-green">
            <div class="btn btn-success">Login</div>
            <div class="btn btn-success">Acount</div>
            <div class="btn btn-success">Contact Us</div>
          </div> 
        
  
  </body>
</html>
